
{{> heading}}
<!-- List of articles -->
<div class="container-fluid article-container">
  {{#each data}}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{this.title}} 
        {{#if saved}}
          <button type="submit" class="btn btn-purple pull-right" id="notesBtn" data-id={{this.id}}>Article Notes</button>
          <button type="submit" class="btn btn-danger pull-right" id="deleteBtn" data-id={{this.id}}>Delete from Saved</button>
        {{else}}
          <button type="submit" class="btn btn-success pull-right" id="saveBtn" data-id={{this.id}}>Save Article</button>
        {{/if}}
      </h3>
    </div>
    <div class="panel-body">
      {{this.description}}
    </div>
  </div>
  {{/each}}
</div>