 {{> heading}}
<!-- List of articles -->
<div class="container-fluid">
  {{#if data}} {{#each data}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-9">
              <a href={{link}} target="_blank">{{title}}</a>
            </div>
            <div class="col-xs-3">
              {{#if saved}}
              <button type="submit" class="btn btn-purple pull-right btn-sm notesBtn" id="notesBtn" data-toggle="modal" data-target="#notesModal"
                data-id={{this.id}}>
                Article Notes
              </button>
              <button type="submit" class="btn btn-danger pull-right btn-sm deleteBtn" id="deleteBtn" data-id={{this.id}}>Delete from Saved</button>
              {{else}}
              <button type="submit" class="btn btn-success pull-right btn-sm saveBtn" id="saveBtn" data-id={{this.id}}>Save Article</button>
              {{/if}}
            </div>
          </div>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      {{description}}
    </div>
  </div>
  {{/each}} {{else}}
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="container-fluid">
          <div class="row">
            <div class="col-9">
              No data to show. Please Scrape New Op-Ed Articles or check for Saved Articles
            </div>
            <div class="col-3">
            </div>
          </div>
        </div>
      </h3>
    </div>
  </div>
  {{/if}}
</div>

<!-- Notes Modal -->

<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notesModalLabel">Notes for Article
          <span id="article_id"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="existingNote"></div>
        <div>
          <textarea id="newNote" maxlength="500" rows="5" placeholder="Add a note" id="addNote" width="100%"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNoteBtn">Save Note</button>
      </div>
    </div>
  </div>
</div>